In [32]:
import pandas as pd
import json
import traceback
import psycopg2
from psycopg2.extras import RealDictCursor
from datetime import datetime
from datetime import date
from datetime import timedelta
import io
df=pd.read_csv(f'D:/Python/NAVER/new_keyword/result_data/grp_new/keyword_crawling_20210113.txt',header=None, sep = "\t", error_bad_lines=False)
len(df)##9만줄이 맞음
def keyword_cleansing (i,json_txt):
    #print(i,json_txt)
    try  :
        json_txt=json.loads(json_txt)
        #print(json_txt)
        return json_txt[i]
    except : 
        traceback.print_exc()
        print(json_txt)
        return {'title':0,'data':0}
    
def yearmonth_calculator(date):  # 날짜를 넣으면 주차를 반환 (yyyymmdd)
    today_datetime = datetime.strptime(date, '%Y%m%d')  # w_date의 날짜
    today_iso = today_datetime.isoweekday()  # w_date의 요일 (월1 화2 수3 목4 금5 토6 일7)
    reference_date = today_datetime + timedelta(days=(4-today_iso))  # 주차를 정하는 기준날짜 (목요일의 날짜)
    reference_date_str = datetime.strftime(reference_date, '%Y%m%d')  # 기준날짜의 string
    return reference_date.strftime("%Y%m")
    #except : pass

In [33]:
result_df=pd.DataFrame()
group_id=0
for i in range(0,4) :
    #df_name = "df_"+str(i)
    
    tmp_df=pd.DataFrame()  
    tmp_df['keyword']=df[:-1].apply(lambda x: keyword_cleansing(i,x[0])['title'],axis = 1)
    tmp_df['data']=df[:-1].apply(lambda x: keyword_cleansing(i,x[0])['data'],axis = 1)
    tmp_df['group_id']=df[:-1].apply(lambda x: x.index)
    group_id +=1
    #tmp_df['cluster_id'] = df
    #print(tmp_df)
    result_df=pd.concat([result_df,tmp_df])
    #print(len(result_df))
#result_df['cluster_id'] = result_df.index

In [34]:
result_df.groupby('group_id').count()

          keyword  data
group_id
0               4     4
1               4     4
2               4     4
3               4     4
4               4     4
...           ...   ...
1069            4     4
1070            4     4
1071            4     4
1072            4     4
1073            4     4

[1074 rows x 2 columns]

In [35]:
try:
    conn = psycopg2.connect(host='10.123.184.193', dbname='edw', user='sys', password='eos40d')
    cur = conn.cursor(cursor_factory=RealDictCursor)
except Exception:
    print('Fail to connect DB')

sql = "select * from sbd.sbds_search_cnt_week where start_date = '20191104' and keyword = '아파트'"
cur.execute(sql)
result = cur.fetchall()
df2 = pd.DataFrame(result)
df2=df2.rename(columns={'start_date':'stand_start_date','scale':'stand_scale' })

In [36]:
merged_df = pd.merge(result_df,df2, on="keyword",how="left")
merged_df=merged_df.sort_values(['group_id','stand_scale'])
merged_df

,keyword,data,group_id,stand_start_date,end_date,year_month,stand_scale,indate
0,아파트,"[{'period': '20170102', 'value': 50.86082}, {'...",0,2019-11-04,2019-11-10,201911,10624.0,2020-06-17
1074,아동가죽무스탕,"[{'period': '20181029', 'value': 0.03009}, {'p...",0,NaN,NaN,NaN,NaN,NaN
2148,아동경량구스자켓,[],0,NaN,NaN,NaN,NaN,NaN
3222,아동경량퀼팅롱자켓,[],0,NaN,NaN,NaN,NaN,NaN
1,아파트,"[{'period': '20170102', 'value': 50.86082}, {'...",1,2019-11-04,2019-11-10,201911,10624.0,2020-06-17
...,...,...,...,...,...,...,...,...
4294,베이비패딩트렌치코트,[],1072,NaN,NaN,NaN,NaN,NaN
1073,아파트,"[{'period': '20170102', 'value': 50.86082}, {'...",1073,2019-11-04,2019-11-10,201911,10624.0,2020-06-17
2147,주니어코트패딩,[],1073,NaN,NaN,NaN,NaN,NaN
3221,주니어패딩트렌치,[],1073,NaN,NaN,NaN,NaN,NaN
4295,주니어패딩트렌치코트,[],1073,NaN,NaN,NaN,NaN,NaN

In [37]:
def caculator_2nd(tmp_df,standard_start_date,return_start_date,date_scale) :
    #print(tmp_df)
    if len(tmp_df) == 4:
        #tmp_df[date_scale].iloc[0] = 10624
        stand_scale = 10624
        stand_ratio=[k['value'] for k in tmp_df['data'].iloc[0] if k['period'] == standard_start_date]
        
        #print(stand_scale,ratio_1,stand_ratio)
        ratio_1 = [k['value'] for k in tmp_df['data'].iloc[1] if k['period'] == return_start_date]
        if len(ratio_1) ==1 : tmp_df[date_scale].iloc[1] = stand_scale*ratio_1[0]/stand_ratio[0] 
        else : tmp_df[date_scale].iloc[1] = 0
            
        ratio_2 = [k['value'] for k in tmp_df['data'].iloc[2] if k['period'] == return_start_date]
        if len(ratio_2) ==1 : tmp_df[date_scale].iloc[2] = stand_scale*ratio_2[0]/stand_ratio[0] 
        else : tmp_df[date_scale].iloc[2] = 0
            
        ratio_3 = [k['value'] for k in tmp_df['data'].iloc[3] if k['period'] == return_start_date]
        if len(ratio_3) ==1 : tmp_df[date_scale].iloc[3] = stand_scale*ratio_3[0]/stand_ratio[0] 
        else : tmp_df[date_scale].iloc[3] = 0            
            
    return tmp_df

In [42]:
#date_list=monday_list
date_list=['20210104']
for date in date_list : 
    #print(date)
    w_date = datetime.now().strftime("%Y%m%d")
    return_start_date_tmp = datetime.strptime(date, '%Y%m%d') ###수정
    return_start_date=datetime.strftime(return_start_date_tmp,'%Y%m%d')
    return_end_date = return_start_date_tmp + timedelta(days=6)
    return_end_date=datetime.strftime(return_end_date,'%Y%m%d')
    date_scale = return_start_date+"_scale"
    print(return_start_date,return_end_date)

    cluster_id_list = merged_df['group_id'].unique()
    stand_start_date = '20191104'


    merged_df[date_scale]=None
    #merged_df[merged_df['keyword']=='아파트'][date_scale]=10755
    final_df=pd.DataFrame()
    for i in range(0,len(cluster_id_list)) : 
        tmp_df=merged_df[merged_df['group_id']==i]
        tmp_df=caculator_2nd(tmp_df,stand_start_date,return_start_date,date_scale)
        final_df=pd.concat([final_df,tmp_df])

    final_df=final_df.rename(columns={date_scale:'scale'})
    droped_index=final_df[final_df['keyword']=='아파트'].index
    final_df=final_df.drop(droped_index)
    final_df['start_date']= return_start_date
    final_df['end_date']=return_end_date
    final_df['indate'] =w_date
    final_df['year_month'] = yearmonth_calculator(return_start_date)
    final_df=final_df.astype({'scale' : 'int'})
    final_df=final_df[['keyword','start_date','end_date','year_month','scale','indate']]

    ####db 업로드
    try:
        conn = psycopg2.connect(host='10.123.184.193', dbname='edw', user='sys', password='eos40d')
        cur = conn.cursor(cursor_factory=RealDictCursor)
    except Exception:
        print('Fail to connect DB')
    output = io.StringIO()
    # ignore the index


    tbl='sbd.sbds_search_cnt_week'
    final_df.to_csv(output, header=False, index=False)
    output.seek(0)
    cur.copy_expert("COPY %s FROM STDIN WITH CSV" % tbl, output)
    conn.commit()
    cur.close()

20210104 20210110

c:\users\jeong_jaekeun\appdata\local\programs\python\python37\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
c:\users\jeong_jaekeun\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
c:\users\jeong_jaekeun\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
c:\users\jeong_jaekeun\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
c:\users\jeong_jaekeun\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
c:\users\jeong_jaekeun\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\jeong_jaekeun\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [39]:
from datetime import date, timedelta
monday_list=[]
yearmonday_list=[[2017,1,2],[2018,1,1],[2019,1,7],[2020,1,6]]
for yearmon in yearmonday_list:
    year = yearmon[0]
    date_object = date(year, yearmon[1], yearmon[2])
    date_object += timedelta(days=1-date_object.isoweekday())
    
    while date_object.year == year:
        #print(date_object.strftime("%Y%m%d"))
        monday_list.append(date_object.strftime("%Y%m%d"))
        date_object += timedelta(days=7)

In [40]:
monday_list

['20170102',
 '20170109',
 '20170116',
 '20170123',
 '20170130',
 '20170206',
 '20170213',
 '20170220',
 '20170227',
 '20170306',
 '20170313',
 '20170320',
 '20170327',
 '20170403',
 '20170410',
 '20170417',
 '20170424',
 '20170501',
 '20170508',
 '20170515',
 '20170522',
 '20170529',
 '20170605',
 '20170612',
 '20170619',
 '20170626',
 '20170703',
 '20170710',
 '20170717',
 '20170724',
 '20170731',
 '20170807',
 '20170814',
 '20170821',
 '20170828',
 '20170904',
 '20170911',
 '20170918',
 '20170925',
 '20171002',
 '20171009',
 '20171016',
 '20171023',
 '20171030',
 '20171106',
 '20171113',
 '20171120',
 '20171127',
 '20171204',
 '20171211',
 '20171218',
 '20171225',
 '20180101',
 '20180108',
 '20180115',
 '20180122',
 '20180129',
 '20180205',
 '20180212',
 '20180219',
 '20180226',
 '20180305',
 '20180312',
 '20180319',
 '20180326',
 '20180402',
 '20180409',
 '20180416',
 '20180423',
 '20180430',
 '20180507',
 '20180514',
 '20180521',
 '20180528',
 '20180604',
 '20180611',
 '20180618',
 '20180625',
 '20180702',
 '20180709',
 '20180716',
 '20180723',
 '20180730',
 '20180806',
 '20180813',
 '20180820',
 '20180827',
 '20180903',
 '20180910',
 '20180917',
 '20180924',
 '20181001',
 '20181008',
 '20181015',
 '20181022',
 '20181029',
 '20181105',
 '20181112',
 '20181119',
 '20181126',
 '20181203',
 '20181210',
 '20181217',
 '20181224',
 '20181231',
 '20190107',
 '20190114',
 '20190121',
 '20190128',
 '20190204',
 '20190211',
 '20190218',
 '20190225',
 '20190304',
 '20190311',
 '20190318',
 '20190325',
 '20190401',
 '20190408',
 '20190415',
 '20190422',
 '20190429',
 '20190506',
 '20190513',
 '20190520',
 '20190527',
 '20190603',
 '20190610',
 '20190617',
 '20190624',
 '20190701',
 '20190708',
 '20190715',
 '20190722',
 '20190729',
 '20190805',
 '20190812',
 '20190819',
 '20190826',
 '20190902',
 '20190909',
 '20190916',
 '20190923',
 '20190930',
 '20191007',
 '20191014',
 '20191021',
 '20191028',
 '20191104',
 '20191111',
 '20191118',
 '20191125',
 '20191202',
 '20191209',
 '20191216',
 '20191223',
 '20191230',
 '20200106',
 '20200113',
 '20200120',
 '20200127',
 '20200203',
 '20200210',
 '20200217',
 '20200224',
 '20200302',
 '20200309',
 '20200316',
 '20200323',
 '20200330',
 '20200406',
 '20200413',
 '20200420',
 '20200427',
 '20200504',
 '20200511',
 '20200518',
 '20200525',
 '20200601',
 '20200608',
 '20200615',
 '20200622',
 '20200629',
 '20200706',
 '20200713',
 '20200720',
 '20200727',
 '20200803',
 '20200810',
 '20200817',
 '20200824',
 '20200831',
 '20200907',
 '20200914',
 '20200921',
 '20200928',
 '20201005',
 '20201012',
 '20201019',
 '20201026',
 '20201102',
 '20201109',
 '20201116',
 '20201123',
 '20201130',
 '20201207',
 '20201214',
 '20201221',
 '20201228']

In [115]:
final_df

,keyword,data,cluster_id,stand_start_date,end_date,year_month,stand_scale,indate,20191111_scale
0,아파트,"[{'period': '20170102', 'value': 50.86082}, {'...",0,2019-11-04,2019-11-10,201911,10624.0,2020-06-17,10624
5,로고점퍼,"[{'period': '20170123', 'value': 0.03009}, {'p...",0,NaN,NaN,NaN,NaN,NaN,None
10,로고패딩,"[{'period': '20170109', 'value': 0.03611}, {'p...",0,NaN,NaN,NaN,NaN,NaN,None
15,논후드패딩,[],0,NaN,NaN,NaN,NaN,NaN,None
1,아파트,"[{'period': '20170102', 'value': 50.86082}, {'...",1,2019-11-04,2019-11-10,201911,10624.0,2020-06-17,10624
6,히든후드패딩,[],1,NaN,NaN,NaN,NaN,NaN,None
11,히든후드점퍼,[],1,NaN,NaN,NaN,NaN,NaN,None
16,리사이클점퍼,[],1,NaN,NaN,NaN,NaN,NaN,None
2,아파트,"[{'period': '20170102', 'value': 50.86082}, {'...",2,2019-11-04,2019-11-10,201911,10624.0,2020-06-17,10624
7,리사이클패딩,"[{'period': '20170102', 'value': 0.06621}, {'p...",2,NaN,NaN,NaN,NaN,NaN,20.7454
12,프린트점퍼,"[{'period': '20170123', 'value': 0.05417}, {'p...",2,NaN,NaN,NaN,NaN,NaN,None
17,프린팅점퍼,"[{'period': '20170109', 'value': 0.03611}, {'p...",2,NaN,NaN,NaN,NaN,NaN,None
3,아파트,"[{'period': '20170102', 'value': 50.86082}, {'...",3,2019-11-04,2019-11-10,201911,10624.0,2020-06-17,10624
8,프린티드점퍼,[],3,NaN,NaN,NaN,NaN,NaN,None
13,프린트패딩,"[{'period': '20170102', 'value': 0.03611}, {'p...",3,NaN,NaN,NaN,NaN,NaN,None
18,프린팅패딩,"[{'period': '20171030', 'value': 0.09029}, {'p...",3,NaN,NaN,NaN,NaN,NaN,None
4,아파트,"[{'period': '20170102', 'value': 50.86082}, {'...",4,2019-11-04,2019-11-10,201911,10624.0,2020-06-17,10624
9,프린티드패딩,[],4,NaN,NaN,NaN,NaN,NaN,None
14,백패딩코트,"[{'period': '20201026', 'value': 0.04213}, {'p...",4,NaN,NaN,NaN,NaN,NaN,None
19,누빔안감코트,"[{'period': '20170102', 'value': 0.55983}, {'p...",4,NaN,NaN,NaN,NaN,NaN,None

In [40]:
merged_df['data'].iloc[0]

[{'period': '20170102', 'value': 50.86082},
 {'period': '20170109', 'value': 60.23356},
 {'period': '20170116', 'value': 58.59619},
 {'period': '20170123', 'value': 55.03852},
 {'period': '20170130', 'value': 59.27642},
 {'period': '20170206', 'value': 56.04382},
 {'period': '20170213', 'value': 56.098},
 {'period': '20170220', 'value': 57.03708},
 {'period': '20170227', 'value': 53.43125},
 {'period': '20170306', 'value': 53.90079},
 {'period': '20170313', 'value': 54.99638},
 {'period': '20170320', 'value': 54.41247},
 {'period': '20170327', 'value': 51.30628},
 {'period': '20170403', 'value': 50.96917},
 {'period': '20170410', 'value': 50.00601},
 {'period': '20170417', 'value': 54.31615},
 {'period': '20170424', 'value': 46.81555},
 {'period': '20170501', 'value': 45.13002},
 {'period': '20170508', 'value': 50.93306},
 {'period': '20170515', 'value': 57.02504},
 {'period': '20170522', 'value': 63.49626},
 {'period': '20170529', 'value': 63.70695},
 {'period': '20170605', 'value': 66.68673},
 {'period': '20170612', 'value': 99.17529},
 {'period': '20170619', 'value': 59.89646},
 {'period': '20170626', 'value': 59.60751},
 {'period': '20170703', 'value': 58.96941},
 {'period': '20170710', 'value': 55.70671},
 {'period': '20170717', 'value': 62.73777},
 {'period': '20170724', 'value': 63.58656},
 {'period': '20170731', 'value': 63.03876},
 {'period': '20170807', 'value': 62.00337},
 {'period': '20170814', 'value': 59.52925},
 {'period': '20170821', 'value': 60.63086},
 {'period': '20170828', 'value': 56.9829},
 {'period': '20170904', 'value': 58.17481},
 {'period': '20170911', 'value': 55.50204},
 {'period': '20170918', 'value': 58.16277},
 {'period': '20170925', 'value': 45.54538},
 {'period': '20171002', 'value': 45.13604},
 {'period': '20171009', 'value': 58.27714},
 {'period': '20171016', 'value': 56.81435},
 {'period': '20171023', 'value': 60.22152},
 {'period': '20171030', 'value': 57.57885},
 {'period': '20171106', 'value': 56.01974},
 {'period': '20171113', 'value': 59.66771},
 {'period': '20171120', 'value': 55.29135},
 {'period': '20171127', 'value': 53.49747},
 {'period': '20171204', 'value': 54.96026},
 {'period': '20171211', 'value': 56.81435},
 {'period': '20171218', 'value': 50.53575},
 {'period': '20171225', 'value': 51.08957},
 {'period': '20180101', 'value': 56.13411},
 {'period': '20180108', 'value': 60.75126},
 {'period': '20180115', 'value': 61.62412},
 {'period': '20180122', 'value': 68.8117},
 {'period': '20180129', 'value': 65.18781},
 {'period': '20180205', 'value': 59.22224},
 {'period': '20180212', 'value': 52.84733},
 {'period': '20180219', 'value': 60.77534},
 {'period': '20180226', 'value': 61.49771},
 {'period': '20180305', 'value': 57.42836},
 {'period': '20180312', 'value': 60.96195},
 {'period': '20180319', 'value': 65.59715},
 {'period': '20180326', 'value': 66.65663},
 {'period': '20180402', 'value': 61.49169},
 {'period': '20180409', 'value': 66.51817},
 {'period': '20180416', 'value': 63.15916},
 {'period': '20180423', 'value': 56.98892},
 {'period': '20180430', 'value': 60.57067},
 {'period': '20180507', 'value': 62.46689},
 {'period': '20180514', 'value': 62.33445},
 {'period': '20180521', 'value': 65.14567},
 {'period': '20180528', 'value': 67.66193},
 {'period': '20180604', 'value': 56.03178},
 {'period': '20180611', 'value': 55.39369},
 {'period': '20180618', 'value': 55.20105},
 {'period': '20180625', 'value': 54.61714},
 {'period': '20180702', 'value': 54.5449},
 {'period': '20180709', 'value': 56.0679},
 {'period': '20180716', 'value': 56.54346},
 {'period': '20180723', 'value': 56.07994},
 {'period': '20180730', 'value': 61.19672},
 {'period': '20180806', 'value': 63.87551},
 {'period': '20180813', 'value': 62.87623},
 {'period': '20180820', 'value': 71.86973},
 {'period': '20180827', 'value': 72.18275},
 {'period': '20180903', 'value': 70.34071},
 {'period': '20180910', 'value': 67.33686},
 {'period': '20180917', 'value': 60.2155},
 {'period': '20180924', 'value': 60.78136},
 {'period': '20181001', 'value': 64.98314},
 {'period': '20181008', 'value': 62.15386},
 {'period': '20181015', 'value': 60.37202},
 {'period': '20181022', 'value': 61.75054},
 {'period': '20181029', 'value': 61.66626},
 {'period': '20181105', 'value': 59.67974},
 {'period': '20181112', 'value': 60.2155},
 {'period': '20181119', 'value': 57.13941},
 {'period': '20181126', 'value': 58.57813},
 {'period': '20181203', 'value': 58.68047},
 {'period': '20181210', 'value': 55.0325},
 {'period': '20181217', 'value': 55.88129},
 {'period': '20181224', 'value': 54.34023},
 {'period': '20181231', 'value': 57.16349},
 {'period': '20190107', 'value': 57.94606},
 {'period': '20190114', 'value': 62.90031},
 {'period': '20190121', 'value': 64.57982},
 {'period': '20190128', 'value': 57.24175},
 {'period': '20190204', 'value': 66.76498},
 {'period': '20190211', 'value': 62.26823},
 {'period': '20190218', 'value': 63.70695},
 {'period': '20190225', 'value': 60.49843},
 {'period': '20190304', 'value': 58.86106},
 {'period': '20190311', 'value': 60.80544},
 {'period': '20190318', 'value': 62.89429},
 {'period': '20190325', 'value': 62.76185},
 {'period': '20190401', 'value': 60.14928},
 {'period': '20190408', 'value': 59.8784},
 {'period': '20190415', 'value': 70.5213},
 {'period': '20190422', 'value': 55.48398},
 {'period': '20190429', 'value': 53.17842},
 {'period': '20190506', 'value': 55.27931},
 {'period': '20190513', 'value': 57.71129},
 {'period': '20190520', 'value': 58.21695},
 {'period': '20190527', 'value': 55.71273},
 {'period': '20190603', 'value': 56.9528},
 {'period': '20190610', 'value': 55.30339},
 {'period': '20190617', 'value': 56.60366},
 {'period': '20190624', 'value': 55.19503},
 {'period': '20190701', 'value': 55.28533},
 {'period': '20190708', 'value': 56.83843},
 {'period': '20190715', 'value': 53.96701},
 {'period': '20190722', 'value': 51.95641},
 {'period': '20190729', 'value': 52.26342},
 {'period': '20190805', 'value': 56.81435},
 {'period': '20190812', 'value': 59.11991},
 {'period': '20190819', 'value': 57.29593},
 {'period': '20190826', 'value': 57.84372},
 {'period': '20190902', 'value': 60.81748},
 {'period': '20190909', 'value': 58.70455},
 {'period': '20190916', 'value': 63.68287},
 {'period': '20190923', 'value': 62.03948},
 {'period': '20190930', 'value': 59.07777},
 {'period': '20191007', 'value': 59.54731},
 {'period': '20191014', 'value': 65.80183},
 {'period': '20191021', 'value': 68.14351},
 {'period': '20191028', 'value': 63.63472},
 {'period': '20191104', 'value': 63.95376},
 {'period': '20191111', 'value': 64.73633},
 {'period': '20191118', 'value': 66.8312},
 {'period': '20191125', 'value': 66.3135},
 {'period': '20191202', 'value': 62.44281},
 {'period': '20191209', 'value': 66.16903},
 {'period': '20191216', 'value': 75.35516},
 {'period': '20191223', 'value': 64.47748},
 {'period': '20191230', 'value': 68.41439},
 {'period': '20200106', 'value': 69.73874},
 {'period': '20200113', 'value': 74.15121},
 {'period': '20200120', 'value': 68.3542},
 {'period': '20200127', 'value': 69.19696},
 {'period': '20200203', 'value': 74.10305},
 {'period': '20200210', 'value': 78.97905},
 {'period': '20200217', 'value': 72.44762},
 {'period': '20200224', 'value': 65.77173},
 {'period': '20200302', 'value': 76.88418},
 {'period': '20200309', 'value': 84.97471},
 {'period': '20200316', 'value': 91.464},
 {'period': '20200323', 'value': 80.95352},
 {'period': '20200330', 'value': 80.27329},
 {'period': '20200406', 'value': 82.51866},
 {'period': '20200413', 'value': 82.4404},
 {'period': '20200420', 'value': 86.99133},
 {'period': '20200427', 'value': 80.91138},
 {'period': '20200504', 'value': 79.80977},
 {'period': '20200511', 'value': 86.26896},
 {'period': '20200518', 'value': 86.1606},
 {'period': '20200525', 'value': 82.45244},
 {'period': '20200601', 'value': 84.47507},
 {'period': '20200608', 'value': 85.82952},
 {'period': '20200615', 'value': 92.85456},
 {'period': '20200622', 'value': 86.37129},
 {'period': '20200629', 'value': 88.86347},
 {'period': '20200706', 'value': 96.01492},
 {'period': '20200713', 'value': 85.35396},
 {'period': '20200720', 'value': 87.26823},
 {'period': '20200727', 'value': 86.50975},
 {'period': '20200803', 'value': 84.96267},
 {'period': '20200810', 'value': 87.87021},
 {'period': '20200817', 'value': 88.82133},
 {'period': '20200824', 'value': 97.58006},
 {'period': '20200831', 'value': 91.17505},
 {'period': '20200907', 'value': 94.06453},
 {'period': '20200914', 'value': 84.78208},
 {'period': '20200921', 'value': 81.07994},
 {'period': '20200928', 'value': 79.70142},
 {'period': '20201005', 'value': 94.54611},
 {'period': '20201012', 'value': 88.90561},
 {'period': '20201019', 'value': 83.21093},
 {'period': '20201026', 'value': 84.03563},
 {'period': '20201102', 'value': 84.80616},
 {'period': '20201109', 'value': 90.13363},
 {'period': '20201116', 'value': 100.0},
 {'period': '20201123', 'value': 99.25355},
 {'period': '20201130', 'value': 97.15868},
 {'period': '20201207', 'value': 93.97423},
 {'period': '20201214', 'value': 92.2586},
 {'period': '20201221', 'value': 84.99277},
 {'period': '20201228', 'value': 88.58656},
 {'period': '20210104', 'value': 90.71755}]

In [34]:
result_df.sort_values('cluster_id')

  keyword                                               data  cluster_id
0     아파트  [{'period': '20170102', 'value': 50.86082}, {'...           0
0   논후드점퍼                                                 []           0
0    로고점퍼  [{'period': '20170123', 'value': 0.03009}, {'p...           0
0   논후드패딩                                                 []           0
0    로고패딩  [{'period': '20170109', 'value': 0.03611}, {'p...           0
1     아파트  [{'period': '20170102', 'value': 50.86082}, {'...           1
1       0                                                  0           1
1  히든후드패딩                                                 []           1
1  리사이클점퍼                                                 []           1
1  히든후드점퍼                                                 []           1
2       0                                                  0           2
2   프린팅점퍼  [{'period': '20170109', 'value': 0.03611}, {'p...           2
2   프린트점퍼  [{'period': '20170123', 'value': 0.05417}, {'p...           2
2     아파트  [{'period': '20170102', 'value': 50.86082}, {'...           2
2  리사이클패딩  [{'period': '20170102', 'value': 0.06621}, {'p...           2
3   프린팅패딩  [{'period': '20171030', 'value': 0.09029}, {'p...           3
3       0                                                  0           3
3   프린트패딩  [{'period': '20170102', 'value': 0.03611}, {'p...           3
3     아파트  [{'period': '20170102', 'value': 50.86082}, {'...           3
3  프린티드점퍼                                                 []           3
4     아파트  [{'period': '20170102', 'value': 50.86082}, {'...           4
4  누빔안감코트  [{'period': '20170102', 'value': 0.55983}, {'p...           4
4  프린티드패딩                                                 []           4
4   백패딩코트  [{'period': '20201026', 'value': 0.04213}, {'p...           4
4       0                                                  0           4
5       0                                                  0           5
5     아파트  [{'period': '20170102', 'value': 50.86082}, {'...           5
5    패치코트  [{'period': '20170102', 'value': 2.96773}, {'p...           5
5  안감누빔코트  [{'period': '20170102', 'value': 0.65615}, {'p...           5
5       0                                                  0           5